# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

# virtualenv
.venv
.env
venv/
env/
ENV/

.idea/
.vscode/

# tmp files
*.pid
tmp/
.DS_Store

*.pem
*.cer

# local settings files
datablitz/config/local.py

# logs
logs/

# django collected static

# celery
celerybeat-schedule

db.sqlite3
